@import url("https://use.typekit.net/uch6bxq.css");
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


body{
  font-family: sans-serif;
}

.set_form input{
}

.c_s table{
  text-align: left;
  margin:auto;
}

.c_s tr{
  line-height: 170%;
}

.ov{
  text-align: center;
  margin-top:30px;
}

h1, h2{
  font-weight: lighter;
}

body, html{
  margin:0px;
  padding:0px;
}

html{
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  background-size: cover;
  height:100vh;
}

.temp{
  display: none;
}

#custom_color label{
  display: block;
}

#custom_gradient input[type=range]{
  width:50px;
}

.cc1, .cc2{
  display: inline-block;
  padding:5px;
}

.temp{
  font-style: italic;
  text-align: center;
  vertical-align: top;
  margin-top:35vh;
}

#password{
  width: 200px;
  border: none;
  padding:5px;
  background: rgba(255,255,255,0.9)
}

#sub{
  background: none;
  border:none;
  font-size: 1.4em;
  vertical-align: middle;
}

.settings{
  display: none;
  margin:10vh auto 0px auto;
  max-width: 500px;
  background:rgba(255,255,255,0.15);
  padding:45px;
  line-height: 160%;
  font-weight: lighter;
}

#settings_header{
  font-weight: lighter;
  font-style: oblique;
  margin-bottom:10px;
}

.settings input[type=text]{
  border: none;
  height:2em;
}

.contt{
  display: inline-block;
  vertical-align: top;
  margin:0px 12.5px 5px;
}

.contt td{
  text-align: left;
}

.cent{
  margin: auto;
  max-width:430px;
  text-align: center;
}

.cent h2{
  text-align: center;
}

#settings table{
  padding:10px;
}

#open-settings{
  font-size: 0.75em;
  margin-left: 10px;
}

#close-settings{
  text-align: center;
  display: block;
}

#set_time, #set_visu{
}

#ov_close:hover{
  cursor: pointer;
  text-shadow: 2px 2px 2px grey;
}

#ov_close{
  margin-bottom:0px;
  margin-top:12.5px;
  width:45px;
  margin-left:auto;
  margin-right:auto;
  transition-duration: 0.5s;
}

.test_theme{
  width:100px;
  margin:0px auto 15px;
  padding-top:10px;
  padding-bottom:10px;
  vertical-align:middle;
}

#spotify_info{
  width: 99%;
  padding:3px;
}

#os_cont{
  margin: 0px auto 15px auto;
}

.settings h1{
  text-align: center;
}

#spot-opt, #csl{
  display: inline-block;
}

#spot-opt{
  margin-left: 5px;
}

.sm{
  font-size: 0.7em;
}

#color_gradient img{
  width: 150px;
  display: inline-block;
}

.th_ch li{
  display: inline-block;
  margin:1px;
  padding:1px;
}

.th_ch{
  margin-bottom:10px;
  padding:0px;
}


#logo{
  width:150px;
  text-align: center;
  margin:auto;
  display: block;
}

.hc h1, .hc h2{
  text-align: left;
}

.hc{
  display: inline-block;
  vertical-align: middle;
  text-align:left;
  padding:10px;
}

.header{
  text-align: center;
  margin-top:20px;
}

#cd{
  font-size: 4em;
  margin:15px;
}

.schedule table{
  text-align: center;
  margin:auto;
}

.schedule table td{
  padding:5px;
}

#sched-opts{
  margin-bottom:20px;
}

.inl{
  display: inline-block;
  vertical-align: top;
  margin:20px;
}

/* put left align stuff here */

.inl-cont{
  text-align: center;
}

#new_todo{
  border-top:none;
  border-left: none;
  border-right:none;
  border-bottom:2px solid;
  background:none;
  width:90%;
  padding:5px;
  color:white;
}

#new_todo::placeholder {
  color: white;
}

.todos_cont{
  max-height: 200px;
  overflow-y:scroll;
}

.todo_item{
  display: block;
  line-height: 175%;
  text-align: left;
}

.notes-cont{
  width:400px;
  max-height:500px;
  overflow-y: scroll;
}

#notes{
  width:90%;
  max-width:90%;
  margin:0px auto 20px auto;
  padding:5px;
  border: none;
  height:100px;
  max-height:300px;
}

a{
  color:white;
  text-decoration: none;
}

@media screen and (orientation:portrait){
  .inl, .hc{
    display: block;
    margin:auto;
  }
  .hc h1, .hc h2{
    text-align: center;
  }
}

@media screen and (max-width:600px), screen and (max-device-width:600px){
  /*.settings{
    margin:60px;
    font-size: 2.5em;
  }*/

  .settings{
    margin:10vh 20px 0px 20px;
  }

/*  .settings input{
    height:2em;
  }*/
}
