*{
  font-family: sans-serif;
}

.set_form input{
}

.c_s input, .c_s label{
  font-size: 0.8em;
  height:16.5px;
  vertical-align: bottom;
}

.ov{
  text-align: center;
}

h1, h2{
  font-weight: lighter;
}

body, html{
  margin:0px;
  padding:0px;
}

html{
  background: linear-gradient(#BEB3EB,#91A8D0);
  color:white;
  background-size: cover;
  height:100vh;
}

.cont{
  display: none;
}

#custom_color label{
  display: block;
}

.cc1, .cc2{
  display: inline-block;
}

.temp{
  font-style: italic;
  text-align: center;
  vertical-align: top;
  margin-top:35vh;
}

#password{
  width: 200px;
  border: none;
  padding:5px;
  background: rgba(255,255,255,0.9)
}

#sub{
  background: none;
  border:none;
  font-size: 1.4em;
  vertical-align: middle;
}

.settings{
  display: none;
  margin:20vh auto 0px auto;
  max-width: 500px;
  background:rgba(255,255,255,0.15);
  padding:45px;
  line-height: 160%;
  font-weight: lighter;
}

.settings h1{
  font-weight: lighter;
  font-style: oblique;
}

.contt{
  display: inline-block;
  vertical-align: top;
}

.cent{
  margin: auto;
  max-width:430px;
}

#settings table{
  padding:10px;
}

#close-settings{
  text-align: center;
  display: block;
}

#set_time, #set_visu{
}

#ov_close:hover{
  cursor: pointer;
}

.settings input[type=text]{
  border: none;
}

#spotify_info{
  width: 100%;
  padding:3px;
}

#os_cont{
  margin: 0px auto 15px auto;
  max-width:430px;
}

.settings h1{
  text-align: center;
}

#spot-opt, #csl{
  display: inline-block;
}

#spot-opt{
  margin-left: 5px;
}

.sm{
  font-size: 0.7em;
}

.sm input{
  height:0.9em;
}

#color_gradient img{
  width: 150px;
  display: inline-block;
}

.th_ch li{
  display: inline-block;
  margin:1px;
  padding:1px;
}

.th_ch{
  margin-bottom:10px;
  padding:0px;
}


#logo{
  width:150px;
  text-align: center;
  margin:auto;
  display: block;
}

.hc h1, .hc h2{
  text-align: left;
}

.hc{
  display: inline-block;
  vertical-align: middle;
  text-align:left;
  padding:10px;
}

.header{
  text-align: center;
}

#cd{
  font-size: 4em;
  margin-top:10px;
  margin-bottom:10px;
}

.schedule table{
  text-align: center;
  margin:auto;
}

.schedule table td{
  padding:5px;
}

.inl{
  display: inline-block;
  vertical-align: top;
  margin:20px;
}

/* put left align stuff here */

.inl-cont{
  text-align: center;
}

@media screen and (max-width:550px), screen and (max-device-width:550px){
  /*.settings{
    margin:60px;
    font-size: 2.5em;
  }*/

  .settings{
    margin:20px;
  }
  .settings table, .settings div, .cent{
    text-align: left;
    margin-left: 0px;
  }
  .settings input{
    height:2em;
  }
}
