*{
  font-family: sans-serif;
}

.set_form input{
}

.settings{
  text-align: left;
}

.c_s input, .c_s label{
  font-size: 0.8em;
  height:16.5px;
  vertical-align: bottom;
}

h1, h2{
  text-align: center;
}

body, html{
  margin:0px;
  padding:0px;
}

.settings{
  padding:20px;
}

html{
  background: linear-gradient(powderblue,navy);
  color:white;
  background-size: cover;
  height:100vh;
}

.cont{
  display: none;
}

.temp{
  font-style: italic;
  text-align: center;
  vertical-align: top;
  margin-top:35vh;
}

#password{
  width: 200px;
  border: none;
  padding:5px;
  background: rgba(255,255,255,0.9)
}

#sub{
  background: none;
  border:none;
  font-size: 1.4em;
  vertical-align: middle;
}
